# ==================== 基础配置 ====================
ENVIRONMENT=development
HOST=0.0.0.0
PORT=8000

# ==================== LLM 配置 ====================
# 从 https://platform.xxx.com 获取你的 API Key
LLM_API_KEY=your_llm_api_key_here
LLM_BASE_URL=your_llm_base_url_here # https://api.deepseek.com/v1
LLM_MODEL_NAME=your_model_name_here # deepseek-chat
# =================== 搜索引擎api ===================
TAVILY_API_KEY=your_tavily_api_key_here

# ==================== 日志配置 ====================
LOG_LEVEL=INFO

# ==================== Redis 配置 (可选) ====================
# REDIS_URL=redis://localhost:6379/0

# ==================== 业务配置 ====================
DEFAULT_PERSON_COUNT=2
DEFAULT_DEPARTURE_TIME=09:00
DEFAULT_RETURN_TIME=17:00
